@font-face {
    font-family: 'itim', 'sans-serif';
    src: url("Itim-Regular.otf") format('opentype');
    font-weight: 400;
  }

$header-bg-color: #10272C;
$button-bg-color: #DAC5A3;
$text-black: #000;
$suggestions-bg-color: #C7521B;